@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato";
}

html {
    font-size: 62.5%;
}

@layer components {
    .layout {
        @apply grid grid-cols-layout grid-rows-layout;
    }
    .main {}
    .left-bar {}
    .right-bar {}
}