@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato";
}

html {
    font-size: 62.5%;
}

body {
    background-color: #1c1e1c;
}

@layer components {
    .layout {
        @apply grid grid-cols-layout grid-rows-layout min-h-[100vh];
    }
    .main {
        @apply bg-main-secondary px-10 py-8
    }
    .left-bar {
        @apply bg-main-primary row-start-1 row-end-[-1] py-8 flex flex-col
    }
    .right-bar {
        @apply bg-main-primary row-start-1 row-end-[-1] col-start-3 col-end-[-1]
    }
    .bottom-bar {
        @apply bg-main-primary col-start-2 col-end-[-2] rounded-tl-[2rem] rounded-tr-[2rem]
    }
    .profile {
        @apply flex px-6 ml-3 text-main-font py-8
    }
    .search-bar {
        @apply flex items-center bg-main-gray text-xl relative rounded-3xl flex-1
    }
    .search {
        @apply flex w-full
    }
    .playListItem {
        @apply text-main-font py-4 mt-0.5
    }
}

::selection {
    background-color: #41ad65
}