@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato";
}

html {
    font-size: 62.5%;
}

@layer components {
    .layout {
        @apply grid grid-cols-layout grid-rows-layout min-h-[100vh];
    }
    .main {
        @apply bg-main-secondary
    }
    .left-bar {
        @apply bg-main-primary
    }
    .right-bar {
        @apply bg-main-primary
    }
    .bottom-bar {
        @apply bg-main-primary col-span-full
    }
}